## Data division by train, val, test sets.

In [1]:
import pandas as pd
import numpy as np
import warnings
import torch

torch.manual_seed(420)
np.random.seed(420)
warnings.filterwarnings('ignore')

In [43]:
data = pd.read_table("../data/raw/filtered.tsv")

In [44]:
data.head()

,Unnamed: 0,reference,translation,similarity,lenght_diff,ref_tox,trn_tox
0,0,"If Alkar is flooding her with psychic waste, t...","if Alkar floods her with her mental waste, it ...",0.785171,0.010309,0.014195,0.981983
1,1,Now you're getting nasty.,you're becoming disgusting.,0.749687,0.071429,0.065473,0.999039
2,2,"Well, we could spare your life, for one.","well, we can spare your life.",0.919051,0.268293,0.213313,0.985068
3,3,"Ah! Monkey, you've got to snap out of it.","monkey, you have to wake up.",0.664333,0.309524,0.053362,0.994215
4,4,I've got orders to put her down.,I have orders to kill her.,0.726639,0.181818,0.009402,0.999348

In [45]:
data = data.rename(columns={'Unnamed: 0': 'id'})

In [46]:
def train_validate_test_split(df, train_percent=.6, validate_percent=.2):
    perm = np.random.permutation(df.index)
    m = len(df.index)
    train_end = int(train_percent * m)
    validate_end = int(validate_percent * m) + train_end
    train = df.iloc[perm[:train_end]]
    validate = df.iloc[perm[train_end:validate_end]]
    test = df.iloc[perm[validate_end:]]
    return train, validate, test

train, val, test= train_validate_test_split(data)

In [47]:
print(train.shape)
train.head()

(346666, 7)

,id,reference,translation,similarity,lenght_diff,ref_tox,trn_tox
399158,399158,All he's got is that dingy pride of his,he's got nothing but his fucking pride.,0.709218,0.000000,0.067650,0.998892
124527,124527,"""Can't you see, Mars is crazy!"" he cried.","""you can't see, Mym's crazy!"" He screamed.",0.894288,0.023256,0.034097,0.762456
476327,476327,That's a no. No wonder you're not psyched abou...,no wonder sex doesn't take you very much.,0.777771,0.207547,0.021677,0.936896
235485,235485,The ass has stuffed you with money,the donkey does your money.,0.631129,0.200000,0.998838,0.010489
478338,478338,I get wicked bladder infections.,I have a stupid bladder infection.,0.782412,0.057143,0.010191,0.997651

In [48]:
print(val.shape)
val.head()

(115555, 7)

,id,reference,translation,similarity,lenght_diff,ref_tox,trn_tox
212119,212119,If you hit him square in the nose... ...he'll ...,"when he hits it right between his eyes, he'll ...",0.823291,0.066667,0.990099,0.010025
400333,400333,"Jesus, do you make a lot of noise.","damn, you're making noise.",0.856607,0.228571,0.008156,0.999509
439964,439964,"I told you before, keep your paws off me.",I told you. Keep your fucking hands off me.,0.762727,0.045455,0.002396,0.999116
549229,549229,"For Christ's sake, what is it?",what the hell is going on?,0.607565,0.129032,0.000040,0.900568
185403,185403,"Damn, I wasn't there for it.",hell and I wasn't there.,0.800603,0.137931,0.996774,0.038908

In [49]:
print(test.shape)
test.head()

(115556, 7)

,id,reference,translation,similarity,lenght_diff,ref_tox,trn_tox
284360,284360,"After all, there are so fracking many...",there's so many fucking...,0.704304,0.341463,0.000049,0.994572
266934,266934,Maybe you're the hustler,maybe you're a crook!,0.741601,0.120000,0.118602,0.995913
84073,84073,Nice leather briefcase. shame to ruin it.,it's a shame to destroy him.,0.666127,0.309524,0.001761,0.995442
221386,221386,"What do you mean, like taking a dump indisposed?","what do you mean, you're shit, so indisposed?",0.613027,0.061224,0.022578,0.999650
33439,33439,My father wants to say the dumping you're doin...,my father says the garbage that you put in her...,0.800027,0.146667,0.011756,0.989963

In [50]:
train.to_csv("../data/internal/train.csv")
val.to_csv("../data/internal/validation.csv")
test.to_csv("../data/internal/test.csv")